.Ingredients {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.IngredientCard {
  padding: 5px 10px;
  font-size: .75rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}

.VerticalRecommendation {
  display: none;
}

@media (min-width: 1025px) {
  .VerticalRecommendation {
    display: block;
  }

  .HorizontalRecommendation {
    display: none;
  }
}
