.BuilderControler {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 -2px 6px 0 rgba(0,0,0,.2);
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.BuildControls {
  display: flex;
  justify-content: center;
}

.BuildControl {
  width: 150px;
}

.OrderControls {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 0;
}

.OrderControls button {
  margin-left: 15px;
}

.OrderControls button:first-child {
  margin-left: 0;
}

@media(min-width: 768px) {
  .BuildControl {
    width: 165px;
  }

  .OrderControls {
    justify-content: flex-end;
    padding-right: 20px;
  }

  .OrderControls button:first-child {
    margin-right: auto;
  }
}

@media(min-width: 960px) {
  .BuildControl {
    width: 200px;
  }
}

@media (min-width: 1025px) {
  .BurgerBuilder {
    box-sizing: border-box;
    padding: 20px 20px 0 340px;
  }

  .BuildControl {
    width: 250px;
  }
}