.CartWrapper {
  width: 100%;
  margin: auto;
  display: flex;
}

.CheckoutPanel {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.CartItemBody {
  display: flex;
}

.CartItemIngredient {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-left: 10px;
}

.IngredientCardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.IngredientCard {
  width: 8rem;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .CartWrapper {
    min-width: 1024px;
    max-width: 1120px;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
  }

  .Cart {
    width: calc((100% - 350px) - 45px);
    margin-right: 45px;
  }

  .CheckoutPanel {
    position: relative;
    width: 350px;
  }

  .IngredientCard {
    margin-bottom: 1rem;
  }
}
