body {
  margin: 0;
  padding: 0;
  font-size: 1.525rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.spinning {
  animation: spinning 2s infinite;
}

@keyframes spinning {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}